<h1>Editar Tarefa</h1>

<%= form_with(model: @task, url: task_path(@task), method: :put) do |form| %>
  <div>
    <%= form.label :project_id %>
    <%= form.collection_select :project_id, Project.all, :id, :name %>
  </div>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <%= form.submit "Salvar" %>
<% end %>

<%= link_to "Voltar", tasks_path %>
