<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pomodoro</title>
    <meta name="description" content="">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <style>
      .body-bg {
          background-color: #9921e8;
          background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
      }
    </style>
  </head>
  <body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
      <a>
        <h1 class="text-2xl font-bold text-white text-center">Editar Tarefa</h1>
      </a>
    </header>
    <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
      <section>
        <%= form_with(model: @task, url: task_path(@task), method: :put, class: "mb-6") do |form| %>
          <div class="field">
            <%= form.label :project_id, "Projeto", class: "block text-gray-700 text-sm font-bold mb-2 ml-3" %>
            <%= form.collection_select :project_id, Project.all, :id, :name, class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" %>
          </div>
          <div class="field mt-5">
            <%= form.label :name, "Nome", class: "block text-gray-700 text-sm font-bold mb-2 ml-3" %>
            <%= form.text_field :name, class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" %>
          </div>
          <div class="field mt-5">
            <%= form.label :description, "Descrição", class: "block text-gray-700 text-sm font-bold mb-2 ml-3" %>
            <%= form.text_area :description, class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" %>
          </div>
          <% if @task.started? %>
            <div class="field mt-5">
              <%= form.label :elapsed_time, "Tempo Decorrido (segundos)", class: "block text-gray-700 text-sm font-bold mb-2 ml-3" %>
              <%= form.number_field :elapsed_time, min: 0, step: 1, class: "bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" %>
            </div>
          <% end %>
          <div class="actions mt-2">
            <%= form.submit "Salvar", class: "bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 w-full rounded shadow-lg hover:shadow-xl transition duration-200 block text-center" %>
          </div>
        <% end %>
      </section>
      <%= link_to 'Voltar', tasks_path, class: "text-purple-600 hover:text-purple-700 hover:underline mt-4 block text-center" %>
    </main>
  </body>
</html>
