<h1>Detalhes do Projeto</h1>

<p><strong>ID do Projeto:</strong> <%= @project.project_id %></p>
<p><strong>Nome do Projeto:</strong> <%= @project.name %></p>
<p><strong>URL do Projeto:</strong> <%= link_to @project.url, @project.url %></p>

<%= button_to 'Excluir', project_path(@project), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse projeto?' } %> |
<%= link_to 'Voltar para Meus Projetos', projects_path %>